.header{
    display: flex;
    margin: 1em;
}

.a{
    margin: 1em;
}
.text{
    text-transform: lowercase;
}

.foto{
    max-width: 15rem;
    min-width: 10rem;
    border-radius: 50%;
}
.container{
    display: flex;
}

.bar{
}
.content{
}